{{- $params := .Scratch.Get "params" -}}

{{- $excludePageUrl := .RelPermalink -}}

{{- $relatedposts := dict -}}

{{- with .Params.tags }}
    {{- range $value := . }}
        {{- $curTag := (lower $value) }}
        {{- if ne $curTag "todo" }}
            {{- $posts := index $.Site.Taxonomies.tags $curTag }}
            {{- if gt (len $posts.Pages) 1 }}
                {{- range $posts.Pages }}
                {{- if ne .RelPermalink $excludePageUrl }}
                    {{- if not (isset $relatedposts .RelPermalink) }}
                        {{- $relatedPoints := (len (intersect .Params.tags $.Params.tags)) }}
                        {{- $dictValue := (dict "Title" .Title "Points" $relatedPoints "Tags" .Params.tags "Href" .RelPermalink ) }}
                        {{- $relatedposts = $relatedposts | merge (dict .RelPermalink $dictValue) }}
                    {{- end }}
                {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
{{ end }}

{{- $relatedposts = (sort $relatedposts "Title" "desc") -}}
{{- $relatedposts = (sort $relatedposts "Points" "desc") -}}

{{- if gt (len $relatedposts) 0 }}
<div class="related-posts">
    <h2 id="related-posts-head">相关文章推荐</h2>
    <ul>
        {{- range $value := first 5 $relatedposts }}
        <li class="related-post-item">
            <a class="related-post-link" href="{{ $value.Href }}" title="{{ $value.Title }}">{{ $value.Title }}</a>&nbsp;&nbsp;
            {{- range $tag := $value.Tags -}}
            {{- $tag := partialCached "function/path.html" $tag $tag | printf "/tags/%v" | $.Site.GetPage -}}
            {{ if in $.Params.tags $tag.Title }}
            <a class="tag-same" href="{{ $tag.RelPermalink }}"><i class="fa fa-tag fa-fw"></i>{{ $tag.Title }}</a>&nbsp;
            {{- else }}
            <a class="tag-diff" href="{{ $tag.RelPermalink }}"><i class="fa fa-tag fa-fw"></i>{{ $tag.Title }}</a>&nbsp;
            {{- end }}
            {{- end }}
        </li>
        {{- end }}
    </ul>
</div>
{{ end }}
